<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ace1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{738,1081}</string>
                <key>spriteSourceSize</key>
                <string>{738,1081}</string>
                <key>textureRect</key>
                <string>{{1,1},{738,1081}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>AceB1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,46}</string>
                <key>spriteSize</key>
                <string>{738,909}</string>
                <key>spriteSourceSize</key>
                <string>{738,1081}</string>
                <key>textureRect</key>
                <string>{{1084,1},{738,909}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Crocodile1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,62}</string>
                <key>spriteSize</key>
                <string>{738,957}</string>
                <key>spriteSourceSize</key>
                <string>{738,1081}</string>
                <key>textureRect</key>
                <string>{{1,741},{738,957}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CrocodileB1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,68}</string>
                <key>spriteSize</key>
                <string>{738,939}</string>
                <key>spriteSourceSize</key>
                <string>{738,1081}</string>
                <key>textureRect</key>
                <string>{{960,741},{738,939}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ace.png</string>
            <key>size</key>
            <string>{1994,1480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa951ca893c895042fe99746db038300:46445d6ede7fd7ddadb1f6a962cad83e:c0946e00baa91be1faf4a6464cbca8eb$</string>
            <key>textureFileName</key>
            <string>ace.png</string>
        </dict>
    </dict>
</plist>
