<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Luffy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,75}</string>
                <key>spriteSize</key>
                <string>{738,931}</string>
                <key>spriteSourceSize</key>
                <string>{738,1081}</string>
                <key>textureRect</key>
                <string>{{1,1},{738,931}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LuffyB1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,71}</string>
                <key>spriteSize</key>
                <string>{738,933}</string>
                <key>spriteSourceSize</key>
                <string>{738,1081}</string>
                <key>textureRect</key>
                <string>{{934,1},{738,933}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sabo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,85}</string>
                <key>spriteSize</key>
                <string>{738,911}</string>
                <key>spriteSourceSize</key>
                <string>{738,1081}</string>
                <key>textureRect</key>
                <string>{{1,741},{738,911}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SaboB1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,72}</string>
                <key>spriteSize</key>
                <string>{738,937}</string>
                <key>spriteSourceSize</key>
                <string>{738,1081}</string>
                <key>textureRect</key>
                <string>{{914,741},{738,937}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>luffy.png</string>
            <key>size</key>
            <string>{1868,1480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb22328b0a1c132fa1390c34593965a8:8bd78518d7699946a7cc74d67b7dd909:124048eb73b151766ca0604eae08570f$</string>
            <key>textureFileName</key>
            <string>luffy.png</string>
        </dict>
    </dict>
</plist>
