<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Nima2.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{738,1081}</string>
                <key>spriteSourceSize</key>
                <string>{738,1081}</string>
                <key>textureRect</key>
                <string>{{1,1},{738,1081}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Nima1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,64}</string>
                <key>spriteSize</key>
                <string>{738,933}</string>
                <key>spriteSourceSize</key>
                <string>{738,1081}</string>
                <key>textureRect</key>
                <string>{{1,741},{738,933}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>NimaB1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,64}</string>
                <key>spriteSize</key>
                <string>{738,931}</string>
                <key>spriteSourceSize</key>
                <string>{738,1081}</string>
                <key>textureRect</key>
                <string>{{1084,1},{738,931}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>NimaB2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,56}</string>
                <key>spriteSize</key>
                <string>{738,935}</string>
                <key>spriteSourceSize</key>
                <string>{738,1081}</string>
                <key>textureRect</key>
                <string>{{936,741},{738,935}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Nami.png</string>
            <key>size</key>
            <string>{2016,1480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cfe7d451826e551eb95bca029b068aa:d768881d35b3ad55b1912d195d81f3d4:28b506b19c8d4e9a067d9bf00919444d$</string>
            <key>textureFileName</key>
            <string>Nami.png</string>
        </dict>
    </dict>
</plist>
