<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hancock1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,87}</string>
                <key>spriteSize</key>
                <string>{642,907}</string>
                <key>spriteSourceSize</key>
                <string>{738,1081}</string>
                <key>textureRect</key>
                <string>{{739,1032},{642,907}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HancockB1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,73}</string>
                <key>spriteSize</key>
                <string>{736,933}</string>
                <key>spriteSourceSize</key>
                <string>{738,1081}</string>
                <key>textureRect</key>
                <string>{{1,1032},{736,933}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Robin1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,5}</string>
                <key>spriteSize</key>
                <string>{728,1029}</string>
                <key>spriteSourceSize</key>
                <string>{738,1081}</string>
                <key>textureRect</key>
                <string>{{741,1},{728,1029}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RobinB1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{738,1029}</string>
                <key>spriteSourceSize</key>
                <string>{738,1081}</string>
                <key>textureRect</key>
                <string>{{1,1},{738,1029}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>robin.png</string>
            <key>size</key>
            <string>{1470,1966}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd255369c20ce7086538a6e253cdbdce:6cec8801a23a79e8c9e0291003790594:b091c6ef2a6ce934bbfd733aa3c5179b$</string>
            <key>textureFileName</key>
            <string>robin.png</string>
        </dict>
    </dict>
</plist>
