<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Monet1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,73}</string>
                <key>spriteSize</key>
                <string>{738,935}</string>
                <key>spriteSourceSize</key>
                <string>{738,1081}</string>
                <key>textureRect</key>
                <string>{{912,1},{738,935}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MonetB1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,75}</string>
                <key>spriteSize</key>
                <string>{738,931}</string>
                <key>spriteSourceSize</key>
                <string>{738,1081}</string>
                <key>textureRect</key>
                <string>{{1,741},{738,931}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sanji1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,77}</string>
                <key>spriteSize</key>
                <string>{646,909}</string>
                <key>spriteSourceSize</key>
                <string>{738,1081}</string>
                <key>textureRect</key>
                <string>{{1,1},{646,909}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SanjiB1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,57}</string>
                <key>spriteSize</key>
                <string>{738,951}</string>
                <key>spriteSourceSize</key>
                <string>{738,1081}</string>
                <key>textureRect</key>
                <string>{{934,741},{738,951}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sanji.png</string>
            <key>size</key>
            <string>{1886,1480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54df66ffcba7241c61663aeadab57a34:fd688bf1c4cb33488311a240badf88ab:202111b6246a1ec36eb65e57993ede93$</string>
            <key>textureFileName</key>
            <string>sanji.png</string>
        </dict>
    </dict>
</plist>
